### ── Public (client-safe) ──────────────────────────────────────────
## API URL Building
NEXT_PUBLIC_API_URL=http://localhost:4000
NEXT_PUBLIC_API_ROOT=/v2

## App Site Info
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_APP_NAME=TwothMatch

## Privacy Policy and Terms and Conditions URLs
NEXT_PUBLIC_PRIVACY_POLICY_URL=https://www.twothmatch.co.uk/privacy-policy
NEXT_PUBLIC_TERMS_AND_CONDITIONS_URL=https://www.twothmatch.co.uk/terms-and-conditions